<!DOCTYPE html>
<html>

<head>
    <title>Rating</title>
    <link rel="stylesheet" type="text/css" href="ui/base/jquery-ui-1.9.2.custom.css">
    <link rel="stylesheet" type="text/css" href="ui/css/style.css">
    <script type="text/javascript" src="vendors/underscore-min.js"></script>
    <script type="text/javascript" src="vendors/jquery.min.js"></script>
    <script type="text/javascript" src="vendors/jquery-ui-1.9.2.custom.js"></script>
    <script type="text/javascript" src="vendors/backbone-min.js"></script>

</head>

<body>




    <input name="autocomplete" type="text" id="DeparturePoint">

    <input name="autocomplete" type="text" id="departureCity" value="88">
    <input name="autocomplete" type="text" id="departureStation">
    <br />
    <input name="autocomplete" type="text" id="ArrivalPoint">
    <input name="autocomplete" type="text" id="arrivalCity" value="104">
    <input name="autocomplete" type="text" id="arrivalStation">

    <div class="app-container">
        <div class="updates-info">
            <em id="version">Loading... <span class="loading" ></span></i></em>
        </div>
        <ol id="list" >
        </ol>
    </div>

    <!-- Templates -->

    <script type="text/template" id="list_template">
       <li id="member-<%= id %>" ><%= name %> - <%= points %></li>
    </script>

    <script type="text/javascript" src="app/combobox.js"></script>
    <script type="text/javascript" src="app/app.js"></script>


</body>

</html>
